.container {
  width: 1000px;
  margin: 0 auto;
}
.contacts__list {
  list-style-type: none;
  width: 243px;
  font-style: normal;
}
.bottom-underline {
  border-bottom: 1px solid currentColor;
}
.contacts__item {
  font-size: 18px;
  line-height: 24.3px;
}
.contacts__link {
  text-decoration: none;
}
.background-blur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 60%;
}
.header__nav {
  display: grid;
  grid-template-columns: 391.48px 1fr 240px;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
}
.header__menu {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  gap: 15px;
}
.header__item {
  width: max-content;
  font-size: 18px;
  line-height: 21.13px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__item::before {
  content: "";
  width: 6px;
  height: 6px;
  border: 0.5px solid currentColor;
  border-radius: 100%;
}
.header__start-item::before {
  content: unset;
}
.header__link {
  text-decoration: none;
}
.header__logo {
  width: 138px;
  margin-left: 40px;
}
.introduction {
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 124px 0 50px 0;
  margin-top: 92px;
}
.introduction * {
  position: relative;
  z-index: 2;
}
.introduction__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  padding-top: 40px;
  flex-direction: column;
  margin: auto auto;
}
.introduction__title-last-letter {
  letter-spacing: normal;
}
.introduction__title-center {
  text-align: center;
}
.introduction__title-end {
  text-align: end;
}
.introduction__description {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 107px;
}
.introduction__subtitle {
  font-weight: 400;
  line-height: 28px;
  word-spacing: 20px;
  font-size: 22px;
}
.introductiont__button {
  width: 256px;
  height: 51px;
  background-color: transparent;
  color: inherit;
  border: 1px solid currentColor;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 25.83px;
}
.loots {
  margin-top: 180px;
}
.loots.container {
  width: 1052px;
}
.loots__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.loots__card-list {
  margin-top: 27px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
}
.loots__card {
  width: 334px;
  min-height: 596px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.loots__card * {
  position: relative;
  z-index: 2;
}
.hands-background {
  background-image: url("../images/card-lot-01.jpg");
}
.book-background {
  background-image: url("../images/card-lot-02.jpg");
}
.abstract-background {
  background-image: url("../images/card-lot-03.jpg");
}
.loots__card-title {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
}
.loots__card-text {
  font-size: 20px;
  line-height: 24px;
}
.loots__title,
.loots__link {
  margin-left: 40px;
}
.loots__link {
  text-decoration-skip-ink: none;
  line-height: 23.48px;
  font-size: 20px;
  margin-top: 32px;
  display: inline-block;
}
.about {
  margin-top: 120px;
  padding: 35px 0 13px 47px;
}
.about.container {
  width: 1052px;
  display: flex;
  gap: 72px;
}
.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000000;
  padding: 62px 45px;
  box-sizing: border-box;
}

.about__title {
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
  margin-top: 100px;
}
.about__text {
  font-size: 20px;
  line-height: 24px;
  margin-top: 100px;
  width: 688px;
}
.about__text:last-child {
  margin-top: 24px;
  width: 693px;
}
.footer {
  margin-top: 166px;
  padding-bottom: 82px;
}
.footer.container {
  display: flex;
  justify-content: space-between;
}
.footer__nav ul {
  flex-direction: column;
  text-align: center;
}
.footer__list {
  display: flex;
  list-style-type: none;
}
.footer__item {
  font-size: 18px;
}
.footer__link {
  text-decoration-skip-ink: none;
}
.not-decorated {
  text-decoration: none;
}

.footer__social-medias ul {
  gap: 48px;
}
.footer__social-media-item {
  display: block;
  width: 48px;
  height: 48px;
}
